<%= render 'header'%>

        <div class="col-sm-7 col-md-9 main">

          <h2 class="sub-header">微博(Weibo)</h2>
          <div class="table-responsive">
              <%= render 'weibo' %>
          </div>

        </div>

<%= render 'footer'%>