<%= render 'header'%>
<br/>
<h2>Overview</h2>
<br/>
<br/>
<p>
&nbsp;&nbsp;&nbsp;如果通过数据分析的预测和相关性的匹配，可以精准的帮你找到与你的每场推广活动高度相关的记者，KOLs 和大V们，这个听起来怎么样？Robin8可以实现这一切，帮你摆脱PR世界里毫无依据的猜想和机会渺茫的投递
</p>
<p>
&nbsp;&nbsp;&nbsp;Robin8 可以通过智能分析来深度了解KOLs和大V们，帮你的推广活动找到最为合适的人选，从而最大程度的优化投递结果。
</p>
<p>
&nbsp;&nbsp;&nbsp;Robin8通过为你提供高效的工作流程和智能化的操作界面来帮助你获得最好的推广结果并在竞争中保持不败之地
</p>
</br>
<div class="buttons-row">
  <div class="col-sm-6 col-md-4 col-lg-3">
     <button type="button" class="btn btn-primary disabled">
		添加新的文章
     </button>
   </div>	 
   <div class="col-sm-6 col-md-4 col-lg-3">
	    <a class="btn btn-warning" style='color:white' href="/articles/find" role="button">智能发布页</a>   
   </div>	 
<!--   <div class="col-sm-6 col-md-4 col-lg-3"> 
	 <button type="button" class="btn btn-info">
		智能发布页3
     </button>
   </div>	 
   <div class="col-sm-6 col-md-4 col-lg-3">
     <button type="button" class="btn btn-primary">
		智能发布页4
     </button>
-->	
	</div>	
</div>
<%= render 'footer'%>